.JFX_tf {
    -fx-prompt-text-fill: white;
    -fx-text-inner-color: white;
    -jfx-unfocus-color: white;
    -jfx-focus-color: white;
}
.date-picker-signup .text-field {
    -fx-control-inner-background: #4287B0;
    -fx-alignment: center;
    -fx-prompt-text-fill: white;
    -jfx-unfocus-color: white;
    -jfx-focus-color: white;
    -fx-text-inner-color: white;
    -fx-text-alignment: center;
    
}
.date-picker-settings .text-field {
    -fx-control-inner-background: #4287B0;
    -fx-alignment: center;
    -fx-text-alignment: center;
    
}
.spinner .text-field {
    
    -fx-alignment: center;
    -fx-text-alignment: center;
    
}
